
*{
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
	box-sizing : border-box;
}
div{border: solid thin black;
	text-align: center;}

div.header {
	padding: 0px 0px;
	table-layout: auto;
	position: center top;
	height: 20%;
}

div.logo {
	width: 100%;
	display: block;
	height: 85%;
	background-image: url("logo.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

div.hh {
	width: 100%;
	display: block;
	height: 15%;
}

div.menuleft {
	float: left;
	width: 20%;
	height: 75%;
}

div.menuright {
	background-color: #FFEEAA;
	float: right;
	width: 10%;
	height: 75%;
}

div.center {
	margin: 0px 10% 0px 0px;
   	width: 70%;
    background-color: #AACCBB;
	height: 75%;
}

div.footer {

	position: center bottom;
	width: 100%;
	height:5%;
}

